.Sc_frame{
    display: flex;
    flex-direction: column;
    padding:40px;
}

.Sc_top{
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
    justify-content: space-around;
}

.Sc_click{
    display: flex;
    justify-content: space-around;
    
}
.Sc_btn{
    display: flex;
    flex-direction: row;
}

.Sc_middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:1200px;
    height:500px;
    align-items: center;
    
}
.Sc_container{
    display: flex;
    flex-direction: column;
    width:700px;
    height:500px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}






.Sc_bottom{
    display: flex;
    justify-content: center;
    align-content: center;
}